# ===========================================
# Конфигурация сервера
#
# Этот блок содержит настройки, связанные с основной функциональностью сервера Gitea,
# включая домен, URL экземпляра, порты и настройки LFS.
# ===========================================

# Основной URL-адрес экземпляра Gitea.
GITEA__server__INSTANCE=http://127.0.0.1

# Порты HTTP и SSH на которых будет запущен докер.
GITEA__server__PORT=8080
GITEA__server__DOCKER_SSH_PORT=222


# Домен и порт которые будут отображаться при клонировании/скачивании репозитория.
GITEA__server__DOMAIN=127.0.0.1
GITEA__server__SSH_PORT=222

# Секретный ключ для JWT-аутентификации для Large File Storage (LFS).
GITEA__server__LFS_JWT_SECRET=lfs-secret-string

# Время жизни JWT токенов для LFS операций (6 часов для больших файлов).
GITEA__server__LFS_HTTP_AUTH_EXPIRY=6h

# Переопределяем стартову страницу, вместо промо ставим редирект на страницу авторизации.
GITEA__server__LANDING_PAGE=explore



# ===========================================
# Конфигурация пользовательского интерфейса (UI)
#
# Этот блок содержит настройки для пользовательского интерфейса Gitea, такие как
# тема по умолчанию и доступные темы.
# ===========================================

# Тема по умолчанию для интерфейса Gitea.
GITEA__ui__DEFAULT_THEME=gitea-auto
# Список доступных тем через запятую.
GITEA__ui__THEMES=gitea-auto,gitea-light,gitea-dark,github-auto,github-light,github-dark,github-soft-dark




# ===========================================
# Конфигурация служб и аутентификации
#
# Этот блок содержит настройки для регистрации пользователей, OpenID и других
# функций на уровне сервиса.
# ===========================================

# Отключить регистрацию пользователей. Установите 'true', чтобы запретить регистрацию новых пользователей.
GITEA__service__DISABLE_REGISTRATION=false
# Включить OpenID для входа пользователей.
GITEA__openid__ENABLE_OPENID_SIGNIN=false
# Включить OpenID для регистрации пользователей.
GITEA__openid__ENABLE_OPENID_SIGNUP=false
# Включить подтверждение регистрации.
GITEA__service__REGISTER_EMAIL_CONFIRM=true



# ===========================================
# Конфигурация хранилища
#
# Этот блок определяет бэкенд для хранения данных Gitea. Это может быть локальное
# хранилище или облачное решение, такое как S3 (например, Minio).
# ===========================================

# Тип используемого хранилища. 'local' для локальной файловой системы, 'minio' для S3-совместимого хранилища.
GITEA__storage__STORAGE_TYPE=minio



# ===========================================
# Конфигурация S3 хранилища 
#
# Общие настройки для всех типов S3 хранилища в Gitea.
# Детальная конфигурация каждого типа хранилища находится в docker-compose.yaml
# 
# Для включения S3 хранилища измените GITEA__storage__STORAGE_TYPE=minio
# ===========================================

# Эндпоинт S3 сервиса (Yandex Object Storage)
S3_ENDPOINT=storage.yandexcloud.net

# Ключи доступа к S3 
S3_ACCESS_KEY=
S3_SECRET_KEY=
# Название бакета для хранения всех данных Gitea
S3_BUCKET=
# Регион Yandex Cloud
S3_LOCATION=ru-central1
# Использование SSL для подключения к S3
S3_USE_SSL=true




# ===========================================
# Конфигурация почтового сервера (SMTP)
#
# Этот блок содержит настройки для отправки электронных писем из Gitea, таких как
# уведомления и сброс пароля.
# ===========================================

# Включить почтовую службу.
GITEA__mailer__ENABLED=true
# Адрес электронной почты, с которого будут отправляться письма.
GITEA__mailer__FROM=no-reply@gromlab.ru
# Адрес SMTP-сервера.
GITEA__mailer__SMTP_ADDR=smtp.mail.ru
# Порт SMTP-сервера.
GITEA__mailer__SMTP_PORT=465
# Имя пользователя для аутентификации на SMTP-сервере.
GITEA__mailer__USER=no-reply@gromlab.ru
# Пароль для аутентификации на SMTP-сервере.
GITEA__mailer__PASSWD=
# Протокол для SMTP (для Mail.ru нужен SSL).
GITEA__mailer__PROTOCOL=smtps
# Включить TLS для безопасного соединения.
GITEA__mailer__IS_TLS_ENABLED=true
# Пропустить проверку TLS сертификата (если нужно).
GITEA__mailer__SKIP_VERIFY=false
# Имя хоста для HELO команды.
GITEA__mailer__HELO_HOSTNAME=gromlab.ru
